<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label position="stacked">Nome</ion-label>
    <ion-input type="text" placeholder="Digite seu Nome"></ion-input>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label position="stacked">CPF</ion-label>
    <ion-input type="text" placeholder="Digite seu CPF"></ion-input>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label position="stacked">Data de Nascimento</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Selecione" cancelText="Cancelar" doneText="OK"></ion-datetime>
  </ion-item>
  
  <ion-button color="primary" expand="full">Entrar</ion-button>
  
</ion-content>
